<!-- base.htmlの適用 -->
{% extends "base_admin.html" %}

<!-- ページタイトルの設定 -->
{% block title %}admin index{% endblock %}

<!-- メインコンテンツ -->
{% block content %}
<!-- <h1>This is admin index</h1> -->
    
<div class="main">
    <div class="mail">
        <h3>問い合わせメール受信数：</h3>
        <p>件の問い合わせメールが届いています。</p>
    </div>

    <div class="info">
        
        <h3>お知らせする種類</h3>
        
        <form action="" method="post">
            
            <div class="label">
        
                <label><input type="radio" name="time" id="time">営業時間関係</label>
                <label for=""><input type="radio" name="update" id="update">ホームページ更新</label><br>
                <label for=""><input type="radio" name="add" id="add">機能追加</label>
                <label for=""><input type="radio" name="change" id="change">機能変更</label>
                <label for=""><input type="radio" name="del" id="del">機能削除</label>
                <br>
                <label>その他：<input type="text" name="others" id="text"></label>
            </div>
            
            <div class="info_text">
                <p>本文</p><br>
                <textarea name="info_text" id="info_text" cols="40" rows="10"></textarea>
            </div>

            <!-- <p>お知らせ履歴の保存名：<input type="text" name="save" id="save"></p> -->
            <br>
            <input type="submit" value="投稿">
        </form>
    </div>

    <!-- <div class="info_his">
        <h2>お知らせ変更履歴</h2>

        <div class="data">
            <a href="#">
                <p class="date">time_test</p>
                <p class="category"><span>labeltest</span></p>
                <p class="title">ここにお知らせが入ります</p>
            </a>
        </div>
    </div> -->
</div>
{% endblock %}