<!-- base.htmlの適用 -->
{% extends "base_admin.html" %}

<!-- ページタイトルの設定 -->
{% block title %}admin mail{% endblock %}

<!-- メインコンテンツ -->
{% block content %}

<div class="mail">
    <h3>問い合わせメール受信数：{{ reccnt["reccnt"] }}</h3>
    <p>{{ reccnt["reccnt"] }}件の問い合わせメールが届いています。</p>
</div>
<hr>
<div class="inmail">
    {% for rec in result %}
    
            <h3>問い合わせID：{{ rec["id"] }}</h3>
            <p>送信者ユーザID：{{ rec["user_id"] }}</p>
            <p>送信時間：{{ rec["created_at"] }}</p>
            <p>問い合わせ目的：{{ rec["title"] }}</p>
            <dev class="text">
                <p>内容：{{ rec["text"] }}</p>
            </dev>

        <hr>
    {% endfor %}
</div>

{% endblock %}