<!-- base.htmlの適用 -->
{% extends "base_admin.html" %}

<!-- ページタイトルの設定 -->
{% block title %}admin index{% endblock %}

<!-- メインコンテンツ -->
{% block content %}
    <h1>This is user_database</h1>

    <h3>絞り込み</h3>

    <!-- <form action="/user_data" method="get">
        <table>
            <tr>
                <td>IDで絞り込む</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>ユーザ名で絞り込む</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>メールアドレスで絞り込む</td>
                <td><input type="text" name="mail"></td>
            </tr>
            <tr>
                <td>登録日で絞り込む</td>
                <td><input type="text" name="re_data"></td>
            </tr>
        </table>
        <br>
        <p>hoverで上下矢印切り替え</p>
    </form> -->
    {% for rec in model_data  %}
    <div class="modelBox">
        <div class="modelBoxImg">
            <p><img src='static/img/{{rec["model_image"]}}' alt=""></p>
        </div>
        <div class="modelBoxMain">
            <div class="modelBoxTitle">
                <h3>{{rec["name"]}}</h3>
            </div>
            <div class="modelBoxButton">
                <div class="modelButtonDetail">
                    <a href="http://127.0.0.1:5000/model/detail/{{ rec['id'] }}">詳細</a>
                </div>
                <div class="modelButtonDelete">
                    <a href="http://127.0.0.1:5000/model/delete/{{ rec['id'] }}">削除</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}