<!-- base.htmlの適用 -->
{% extends "base_admin.html" %}

<!-- ページタイトルの設定 -->
{% block title %}admin index{% endblock %}

<!-- メインコンテンツ -->
{% block content %}
    <h1>This is user_database</h1>

    <!-- <h3>絞り込み</h3> -->

    <!-- <form action="/user_data" method="get">
        <table>
            <tr>
                <td>IDで絞り込む</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>ユーザ名で絞り込む</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>メールアドレスで絞り込む</td>
                <td><input type="text" name="mail"></td>
            </tr>
            <tr>
                <td>登録日で絞り込む</td>
                <td><input type="text" name="re_data"></td>
            </tr>
        </table>
        <br>
        <p>hoverで上下矢印切り替え</p>
    </form> -->

    <div class="userdb">
        <table>
            <tr>
                <th>ユーザID</th>
                <th>ユーザ名</th>
                <th>メールアドレス</th>
                <th>パスワード</th>
                <th>作成日時</th>
                <th>更新日時</th>
                <th>削除日時</th>
            </tr>
            {% for rec in user_data %}
            <tr>
        
                <td>{{ rec["id"] }}</td>
                <td>{{ rec["name"] }}</td>
                <td>{{ rec["email"] }}</td>
                <td>{{ rec["password"] }}</td>
                <td>{{ rec["created_at"] }}</td>
                <td>{{ rec["updated_at"] }}</td>
                <td>{{ rec["deleted_at"] }}</td>    
                
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}