<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/destyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/style.css') }}">
</head>
<body>
    <header>
        <div id="header">
            <div id="headIcon">
                <h1>アイコン</h1>
            </div>
            <div id="headUser">
                <p>ユーザー名</p>
            </div>
        </div>
    </header>
    <div id="tabWrapper">
        <div class="tabBox">
            <div class="tabText">
                <p><a href="/admin">ホーム</a></p>
            </div>
        </div>
        <div class="tabBox">
            <div class="tabText">
                <p><a href="/user_devices">デバイスDB</a></p>
            </div>
        </div>
        <div class="tabBox">
            <div class="tabText">
                <p><a href="/user_data">ユーザDB</a></p>
            </div>
        </div>
        <div class="tabBox">
            <div class="tabText">
                <p><a href="/mail">問い合わせメール</a></p>
            </div>
        </div>
    </div>
    <main>
    {% block content %}{% endblock %}
    </main>
</body>
</html>
