<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/destyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div id="headWrapper">
            <div id="headIcon">
                <h1>アイコン</h1>
            </div>
            <div id="headUser">
                <p>ユーザー名</p>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
