<!-- base.htmlの適用 -->
{% extends "base_user.html" %}

<!-- ページタイトルの設定 -->
{% block title %}ホーム{% endblock %}

<!-- メインコンテンツ -->
{% block content %}
<div id="homeWrapper">
    <div class="homeTitle">
        <h2>お知らせ</h2>
    </div>
    <div class="homeMain">
        <div class="homeInfo">
            <div class="homeInfoBox">
                <div class="homeInfoTitle">
                    <h3>モデル削除について</h3>
                </div>
                <div class="homeInfoText">
                    <p>モデルが削除できないエラーを修正しました</p>
                </div>
            </div>
            <div class="homeInfoBox">
                <div class="homeInfoTitle">
                    <h3>holopperへようこそ</h3>
                </div>
                <div class="homeInfoText">
                    <p>holopperをご登録いただきありがとうございます</p>
                </div>
            </div>
        </div>
        <div class="homeBox">
            <div class="">
                
            </div>
        </div>
        <!-- <div class="modelHistory">
            <div class="modelHisTitle">
                <h2>表示履歴</h2>
            </div>
            <div class="modelHistoryBox">
                <div class="modelHisImg">
                    <p><img src=""></p>
                </div>
                <div class="modelHisPost">
                    <div class="modelHisTtl">
                        <h3>サンプルA</h3>
                    </div>
                    <div class="modekHistxt">
                        <p>あああああああああああああああああ</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}