<!-- base.htmlの適用 -->
{% extends "base_user.html" %}

<!-- ページタイトルの設定 -->
{% block title %}user index{% endblock %}

<!-- メインコンテンツ -->
{% block content %}
<div id="homeWrapper">
    <div class="homeTitle">
        <h2>お知らせ</h2>
    </div>
    <div class="homeMain">
        <div class="homeInfo">
            <div class="homeInfoBox">
                <div class="homeInfoTitle">
                    <h3>ダミーA</h3>
                </div>
                <div class="homeInfoText">
                    <p>あああああああああああああ</p>
                </div>
            </div>
            <div class="homeInfoBox">
                <div class="homeInfoTitle">
                    <h3>ダミーB</h3>
                </div>
                <div class="homeInfoText">
                    <p>あああああああああああああ</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}