{% extends "base_user_login.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div id="loginWrapper">
    <div class="loginTitle">
        <h2>ログイン</h2>
    </div>
    <div class="loginForm">
        <form action="/login/check" method="post">
            <div class="loginText">
                <div class="loginEmail">
                    <p>メールアドレス</p>
                    <input type="text" name="login_email" value={{login_form.login_email}}>
                    <a class="errMsg">{{err_msg.login_mail}}</a>
                </div>
                <div class="loginPass">
                    <p>パスワード</p>
                    <input type="text" name="login_pass" value={{login_form.login_pass}}>
                    <a class="errMsg">{{err_msg.login_pass}}</a>
                </div>
            </div>
            <br>
            <form action="/signup" method="get">
                <button type="submit">新規会員登録</button>
            </form>
        </form>
    </div>
    <div>
        <p><a href="/signup">会員登録はこちら</a></p>
    </div>
</div>
{% endblock %}