{% extends "base_user.html" %}
{% block title %}3Dモデル詳細{% endblock %}
{% block content %}
<div id="modelWrapper">
    <div class="modelTitle">
        <h2>3Dモデル詳細</h2>
    </div>
    {% for rec in model_data  %}
    <div class="modelMain">
        <div class="modelText">
            <p>本当にモデルを削除しますか？</p>
        </div>
        <div class="modelDetailMain">
            <div class="modelDetailImg">
                <p><img src='../../static/uploads/img/{{rec["model_image"]}}' alt=""></p>
            </div>
            <div class="modelDetailText">
                <div class="modelDetailTitle">
                    <h3>{{rec['name']}}</h3>
                </div>
                <div class="modelDetailInfo">
                    <p>{{rec['model_info']}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modelBoxButton">
        <div class="modelButtonDelete buttonBoxB">
            <p><a href="/model/delete/comp/{{ rec['id'] }}">削除</a></p>
        </div>
        <div class="modelButtonMain buttonBoxB">
            <p><a href="/model">戻る</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}