{% extends "base_user.html" %}
{% block title %}投影{% endblock %}
{% block content %}
<div id="projectionWrapper">
    <div class="projectionTitle pT2">
        <h2>3Dモデル投影終了</h2>
    </div>
    <div class="projectionMain">
        <div class="projectionText">
            <h3>投影が終了しました</h3>
        </div>
    </div>
    <div class="projectionButtonBox buttonBoxB">
        <div class="projectionMainButton">
            <p><a href="/projection">一覧へ戻る</a></p>
        </div>
    </div>
</div>
{% endblock %}