{% extends "base_user_login.html" %}
{% block title %}パスワード再設定{% endblock %}
{% block content %}
<div id="loginWrapper">
    <div class="loginTitle">
        <h2>パスワードを忘れた方へ</h2>
    </div>
    <div class="loginMain">
        <div class="loginText">
            <p>登録したメールアドレスを入力してください。</p>
            <p>パスワード再設定のメッセージを送信します</p>
        </div>
        <div class="resetForm">
            <form action="/login/reset/password/comp">
                <input type="text" name="reset_email" value={{reset_form.reset_email}}>
                <a class="errMsg">{{err_msg.reset_email}}</a>
                <div class="button">
                    <button type="submit">メールを送信</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}