{% extends "base_user_login.html" %}
{% block title %}パスワード再設定メール送信完了{% endblock %}
{% block content %}
<div id="loginWrapper">
    <div class="loginTitle">
        <h2>パスワード再設定用メール送信完了</h2>
    </div>
    <div class="loginMain">
        <div class="loginText">
            <p>パスワード再設定用メールを送信しました。</p>
            <p>メールのリンクから再設定してください。</p>
        </div>
        <div class="resetForm">
            <form action="/">
                <div class="button">
                    <button type="submit">ログイン</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}