{% extends "base_user_login.html" %}
{% block title %}会員登録{% endblock %}
{% block content %}
<div id="signupWrapper">
    <div class="signupTitle">
        <h2>会員登録</h2>
    </div>
    <div class="signupForm">
        <form action="/signup/check" method="post">
            <div class="signupText">
                <div class="signupName">
                    <p>ユーザー名</p>
                    <input type="text" name="signup_name" value={{signup_form.signup_name}}>
                    <a class="errMsg">{{err_msg.signup_name}}</a>
                </div>
                <div class="signupEmail">
                    <p>メールアドレス</p>
                    <input type="text" name="signup_email" value={{signup_form.signup_email}}>
                    <a class="errMsg">{{err_msg.signup_email}}</a>
                </div>
                <div class="signupPass">
                    <p>パスワード</p>
                    <input type="text" name="signup_pass" value={{signup_form.signup_pass}}>
                    <a class="errMsg">{{err_msg.signup_pass}}</a>
                </div>
                <div class="signupCheckPass">
                    <p>パスワード</p>
                    <input type="text" name="signup_pass_check" value={{signup_form.signup_pass_check}}>
                    <a class="errMsg">{{err_msg.signup_pass_check}}</a>
                </div>
            </div>
            <br>
            <button type="submit">会員登録</button>
        </form>
    </div>
</div>
{% endblock %}