{% extends "base_user_login.html" %}
{% block title %}会員登録情報確認{% endblock %}
{% block content %}
<div id="signupWrapper">
    <div class="signupTitle">
        <h2>この内容で登録しますか</h2>
    </div>
    <div class="signupMain">
        <div class="signupText">
            <div class="signupName">
                <p>名前</p>
                <p>{{signup_form.signup_name}}</p>
            </div>
            <div class="signupEmail">
                <p>メールアドレス</p>
                <p>{{signup_form.signup_email}}</p>
            </div>
            <div class="signuppass">
                <p>パスワード</p>
                <p>＊＊＊＊＊＊</p>
            </div>
        </div>
        <div class="signupButton">
            <div class="signupButtonComp buttonBoxB">
                <p><a href="/signup/comp">登録</a></p>
            </div>
            <div class="signupButtonMain buttonBoxB">
                <p><a href="/signup">登録情報を見直す</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}