{% extends "base_user_login.html" %}
{% block title %}会員登録情報確認{% endblock %}
{% block content %}
<div id="signupWrapper">
    <div class="signupTitle">
        <h2>この内容で登録しますか</h2>
    </div>
    <div class="signupMain">
        <div class="signupText">
            
        </div>
        <div class="signupButton">
            <div class="signupButtonMain">
                <a href="/signup">登録情報を見直す</a>
            </div>
            <div class="signupButtonComp">
                <a href="/signup/comp">登録</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}