@use "_variable.scss" as *;

#settingsWrapper{
    margin-top: 3%;
    .settingsTitle{
        margin: 3% 0;
        text-align: center;
    }
    .settingsMain{
        div{
            display: flex;
            align-items: center;
            p{
                width: 15vw;
                margin: 1% auto;
                text-align: left;
            }
            h3{
                text-align: center;
                width: 50vw;
                margin: 1% auto;
            }
        }
    }
    .settingsButtonBox{
        .settingsButton{
            margin-top: 3%;
            p{
                a{
                    border: $borderBlack;
                    background-color: $buttonBg01;
                    color: $buttonCl01;
                    &:hover{
                        background-color: $buttonHvBg01;
                        color: $buttonHvCl01;
                    }
                }
            }
        }
        .logoutButton{
            margin-top: 3%;
            p{
                a{
                    border: $borderBlack;
                    background-color: $buttonBg02;
                    color: $buttonCl01;
                    &:hover{
                        background-color: $buttonHvBg02;
                        color: $buttonHvCl01;
                    }
                }
            }
        }
        .deleteButton{
            margin-top: 3%;
            p{
                a{
                    border: $borderBlack;
                    background-color: $buttonBg03;
                    color: $buttonCl01;
                    &:hover{
                        background-color: $buttonHvBg03;
                        color: $buttonHvCl01;
                    }
                }
            }
        }
    }
}