// user header
$headerBg: #768459;
$headerHeight:12vh;

// user tab
$tabBg: #8F8460;
$tabWidth: 12vw;
$tabFsize: 1.8rem;

// border線
$borderBlack:solid 1px #000000;

// 見出し文字の色関連
$titleColor: #4f5e77;
