//  header類
// user header
$headerBg: #b2ada2;
$headerHeight:12vh;

// user tab
$tabBg: #5c574f;
$tabWidth: 12vw;
$tabFsize: 1.6rem;
$tabColor: rgb(228, 228, 228);

// border線
$borderBlack:solid 1px #000000;

// 文字太さ
$bold: 600;

// 見出し文字の色関連
$titleColor: #4f5e77;

// buttonカラー
$buttonBg01: #99BA7E;
$buttonHvBg01: #738d5e;
$buttonCl01: #e4e4e4;
$buttonHvCl01: #c7c7c7;
$buttonBg02: #afa177;
$buttonHvBg02: #544d3a;
$buttonBg03: #b95454;
$buttonHvBg03: #763e3e;
$buttonBg04: #86a2b8;
$buttonHvBg04: #63747d;

$buttonTrans:.2s;



// その他色
$mainBg: #dedad4;
$red: #ff0000;
$linkColor:#4e7eb8;
$linkHvColor:#3a5d88;
$modelBg: #ece8e3;
$modelBorder: 5px solid #beb4a4;