@use "_variable.scss" as *;

main{
    width: 80%;
    height: 100%;
    position: relative;
    margin-left: 15%;
}

.devicesdb,.userdb{
    margin-right: 30px;
    table{
        width: 100%;
        margin-top: 30px;
        td,th{
            font-size: 2rem;
        }
    }
}