// admin header
$headerBg: #01a3a0;
$headerHeight:12vh;

// admin tab
$tabBg: #03b9b6;
$tabWidth: 12vw;
$tabFsize: 1.8rem;

// border線
$borderBlack:solid 1px #000000;

// 見出し文字の色関連
$titleColor: #4f5e77;
